---
layout: default
section: blog
---

<div class='listing col6 pad4h margin3'>
  {% for item in site.categories.blog limit:1000 %}
    {% capture date %}{{ item.date | date: '%B %Y' }}{% endcapture %}
    {% capture ndate %}{{ item.next.date | date: '%B %Y' }}{% endcapture %}
    
    <div class='post'>
       <a class='item' href='{{site.baseurl}}{{item.url}}'>{{item.title}} <span class='date'>&#126; {{item.date | date:"%b %d"}}</span></a>
       {{ item.excerpt }}
    </div>
  {% endfor %}
</div>

{% include rss-link.html %}
